@charset "UTF-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

li {
	list-style: none;
}

.header_logo {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 2rem;
}

.header_menu {
	margin-left: 20px;
	color: #999;
}

.carousel-item img {
	width: 100%;
}

.item .price {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 16px;
}

.pimg:hover {
	transform: scale(1.1);
}

#total {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.pview {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 1rem;
}

.carttotal {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 1.5rem;
}

.totalbox {
	border: 3px solid #eeeeee;
	margin: 40px;
	padding: 40px;
}

/* 채팅창*/
#msgbox{
	height: 500px;		/* 높이 */
	background: #b2c7d9;	/* 배경색 */
	margin-bottom: 10px;	/* 아래 바깥여백 */
	border: 1px solid #eeeeee; /* 테두리 */
	border-radius: 30px;	/* 모서리 곡선 */
	overflow: auto;	 	/* 박스 크기 보다 내용물 넘쳤을때 스크롤*/
	/* ie and edge 스크롤 숨기기 */
	-ms-overflow-style : none;
}
/* 스크롤 표시 숨기기 : 브라우저 마다 다름 */
#msgbox::-webkit-scrollbar{	/*크롬 , 사파리 등*/
	display: none;
}

/* 보내는메시지*/
.from{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 1.0rem;
	background: #ffeb33;
	border-radius: 10px;
	padding: 10px;
}
/* 메시지 시간 */
.msgtime{
	font-size: 0.8rem;
}
/* 받는 메시지 */
.to{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 1.0rem;
	background: white;
	border-radius: 10px;
	padding: 10px;
}
/* 접속 회원 목록*/
#mlist{
	height: 350px;		/* 높이 */
	background: white;	/* 배경색 */
	margin-bottom: 10px;	/* 아래 바깥여백 */
	border: 1px solid #eeeeee; /* 테두리 */
	border-radius: 30px;	/* 모서리 곡선 */
	overflow: auto;	
}

.roomstart{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 0.8rem;
	background-color : #eeeeee;
}